<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinfan.wxshop.business.dao.FilmMapper">
  <resultMap id="BaseResultMap" type="com.xinfan.wxshop.business.entity.Film">
    <id column="film_id" jdbcType="INTEGER" property="filmId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="urltype" jdbcType="INTEGER" property="urltype" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="actor" jdbcType="VARCHAR" property="actor" />
    <result column="country" jdbcType="INTEGER" property="country" />
    <result column="publish" jdbcType="TIMESTAMP" property="publish" />
    <result column="format" jdbcType="INTEGER" property="format" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="player" jdbcType="INTEGER" property="player" />
    <result column="player_url" jdbcType="VARCHAR" property="playerUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    film_id, name, resume, count, type, url, urltype, director, actor, country, publish, 
    format, picture, player, player_url
  </sql>
  <select id="selectByExample" parameterType="com.xinfan.wxshop.business.entity.FilmExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_film
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_film
    where film_id = #{filmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_film
    where film_id = #{filmId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinfan.wxshop.business.entity.FilmExample">
    delete from t_film
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xinfan.wxshop.business.entity.Film">
    insert into t_film (film_id, name, resume, 
      count, type, url, urltype, 
      director, actor, country, 
      publish, format, picture, 
      player, player_url)
    values (#{filmId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{resume,jdbcType=VARCHAR}, 
      #{count,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{urltype,jdbcType=INTEGER}, 
      #{director,jdbcType=VARCHAR}, #{actor,jdbcType=VARCHAR}, #{country,jdbcType=INTEGER}, 
      #{publish,jdbcType=TIMESTAMP}, #{format,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, 
      #{player,jdbcType=INTEGER}, #{playerUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xinfan.wxshop.business.entity.Film">
    insert into t_film
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="filmId != null">
        film_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="resume != null">
        resume,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="urltype != null">
        urltype,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="publish != null">
        publish,
      </if>
      <if test="format != null">
        format,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="player != null">
        player,
      </if>
      <if test="playerUrl != null">
        player_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        #{resume,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urltype != null">
        #{urltype,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=INTEGER},
      </if>
      <if test="publish != null">
        #{publish,jdbcType=TIMESTAMP},
      </if>
      <if test="format != null">
        #{format,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="player != null">
        #{player,jdbcType=INTEGER},
      </if>
      <if test="playerUrl != null">
        #{playerUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinfan.wxshop.business.entity.FilmExample" resultType="java.lang.Integer">
    select count(*) from t_film
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_film
    <set>
      <if test="record.filmId != null">
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.resume != null">
        resume = #{record.resume,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.urltype != null">
        urltype = #{record.urltype,jdbcType=INTEGER},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.actor != null">
        actor = #{record.actor,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=INTEGER},
      </if>
      <if test="record.publish != null">
        publish = #{record.publish,jdbcType=TIMESTAMP},
      </if>
      <if test="record.format != null">
        format = #{record.format,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.player != null">
        player = #{record.player,jdbcType=INTEGER},
      </if>
      <if test="record.playerUrl != null">
        player_url = #{record.playerUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_film
    set film_id = #{record.filmId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      resume = #{record.resume,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      urltype = #{record.urltype,jdbcType=INTEGER},
      director = #{record.director,jdbcType=VARCHAR},
      actor = #{record.actor,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=INTEGER},
      publish = #{record.publish,jdbcType=TIMESTAMP},
      format = #{record.format,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      player = #{record.player,jdbcType=INTEGER},
      player_url = #{record.playerUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinfan.wxshop.business.entity.Film">
    update t_film
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resume != null">
        resume = #{resume,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urltype != null">
        urltype = #{urltype,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=INTEGER},
      </if>
      <if test="publish != null">
        publish = #{publish,jdbcType=TIMESTAMP},
      </if>
      <if test="format != null">
        format = #{format,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="player != null">
        player = #{player,jdbcType=INTEGER},
      </if>
      <if test="playerUrl != null">
        player_url = #{playerUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where film_id = #{filmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinfan.wxshop.business.entity.Film">
    update t_film
    set name = #{name,jdbcType=VARCHAR},
      resume = #{resume,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      urltype = #{urltype,jdbcType=INTEGER},
      director = #{director,jdbcType=VARCHAR},
      actor = #{actor,jdbcType=VARCHAR},
      country = #{country,jdbcType=INTEGER},
      publish = #{publish,jdbcType=TIMESTAMP},
      format = #{format,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      player = #{player,jdbcType=INTEGER},
      player_url = #{playerUrl,jdbcType=VARCHAR}
    where film_id = #{filmId,jdbcType=INTEGER}
  </update>
  
  <!-- 以下手动添加 -->
  <select id="selectPageList" parameterType="com.xinfan.wxshop.common.base.DataMap" resultType="com.xinfan.wxshop.common.base.DataMap">
  		select * from t_film t where 1=1
		<if test="name != null">
			and name like #{name,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			and type = #{type,jdbcType=INTEGER}
		</if>
		<if test="country != null">
			and country = #{country,jdbcType=INTEGER}
		</if>
		<if test="notin != null">
			and film_id not in (${notin} )
		</if>
		order by film_id desc 
  </select>
</mapper>